



.homePage_container{
    /* background: #9e3737; */
    /* display: flex;
    flex-direction: column; */
    width: 100vw;
/* top: -443px;
left: -721px; */

}

.el1{
    background-image: url('.../assets/Poster.png');

    width: 100%;
    height: 600px;
    
    

}

.el2{
    /* background: grey; */
    margin-top: 70px;
    width: 100%;


/* top: 670px;
margin-left: 34px;
margin-right: 98px;  */

}





