.moviesPageWrapper{
    /* background: whitesmoke; */
    max-width: 100%;
    height: 100vh;
    display: flex;
    
    justify-content: space-between;

}

.moviesSideBarArea{
    /* background: limegreen; */
    height: 100%;
    width: 20%;
    margin-left: 0;
}

.moviesSideBarcontainer{
    width: 90%;
    height: 100%;
    border: 1px solid black;
    margin-left: 0;
    border-radius: 0px 45px 45px 0px;
}

.moviesLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    width: 90%;
    margin-top: 30px;
}

.moviesNavigationsContainer{
    /* background: lemonchiffon; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 35px;
    margin-top: 30px;
}

.moviesNavigationsContainer li{
    width: 100%;
    height: 50px;
    /* background: greenyellow; */
    display: flex;
    padding-left: 0;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.moviesNavigationIcon{
    margin-left: 4rem;
}



.moviesNavigationName{
    margin-right: 4rem;
}

#goHomeName{
    margin-right: 6rem;
}

#moviesHomeName{
    margin-right: 5.2rem;
}

.moviesPageViewArea{
    /* background: yellow; */
    width: 80%;
}

.video-box{
    /* background: pink; */
    width: 90%;
    margin-top: 1rem;
    border-radius: 1rem;
}

#youtubeTag{
    border-radius: 1rem;
}
